#parse("/velocity/layout.vm")
#@mainLayout()
<form class="userForm" method = "post">
	
	#if($usernameExist)
		<p class="bad notification">username exist</p>
	#elseif($passwordNotMatch)
		<p class="bad notification">Passwords do not match</p>
	#elseif ($passwordNotComplex)
		<p class"bad notification">Password is not satisfied. Try again.</p>
	#elseif($signupSucceeded)
		<p class="good notification">You have signed up successfully</p>
	#end
	<h1>Sign-up Form</h1>
	<label>First name</label>
	<input type="text" name="firstname" placeholder="Enter first name" autofocus required>
	<label>Last name</label>
	<input type="text" name="lastname" placeholder="Enter last name" required>
	<label>Email address</label>
	<input type="text" id="emailaddress" name="emailaddress" placeholder="Enter email address" onkeyup="validateEmail()" required> 
	<label id="emailmark"></label>
	<label>New username</label>
	<input type="text" name="username" placeholder="Enter new username" required>
	<label>Enter password</label>
	<input type="password" id="password" name="password" onkeyup="validatePassword()" placeholder="Enter password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
		title="Must contain a number, a uppercase letter, a lowercase letter,and at lease 8 characters" required>
	<label id="passwordmark"></label>
	<label>Re-enter password</label>
	<input type="password" id="reenterpassword" name="reenterpassword" onkeyup="passwordMatch()" placeholder="Re-enter password" required>
	<label id="matchmark"></label>
	<input type="submit">
</form>
#end