
#footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 40px;
	line-height: 40px;
	width: 100%;
	text-align: center;
	background: #fff;
	border-top: 1px solid #f9a11b;
  font-size: 14px;
  display: 'block';
  padding: '20px';
  height: '60px';
}
