.signin-form {
	max-width: 30vw;
	margin: auto;
}

.title {
	text-align: center;
}

.signin-form label {
	margin-top: 5%;
	padding-left: 5px;
	display: block;
	max-width: 100%;
}

.text-field {
	border: 1px solid #ddd;
	padding: 3%;
	max-width: 100%;
	border-radius: 3px;
	margin-top: 5%;
	margin-left: 20%;
}

.submit {
	cursor: pointer;
	width: 30%;
}