header {
	border-bottom: 5px solid #ff7761;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, .6);
  border-bottom: 5px solid #b7a57a;
  background-color: #4b2e83;
}

#signin {
  position: absolute;
  right: 5%;
}