#macro(mainLayout)
<html>
<head>
	<title>Stock Performance</title>
	<link rel="stylesheet" href="/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="/js/validation.js"></script>
	<script type"text/javascript" src="/js/GoogleSignin.js"></script>
	<!-- Google Sign-in https://developers.google.com/identity/sign-in/web/ -->
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="60643896300-nmj8u9au70jb4512hfs4ao2254e4j0t2.apps.googleusercontent.com"> 
    <script src="https://apis.google.com/js/platform.js?" async defer></script>
	<script>
		//https://developers.google.com/identity/sign-in/web/reference#googleauthgrantofflineaccessoptions
		function onLoad() 
		{	
        	// make sure auth2 is initialized at page load
         	// https://stackoverflow.com/a/29833065
         	gapi.load('auth2', function() {
            	gapi.auth2.init();
         	});
      	}
   </script>
</head>
<body onload="onLoad()">
<header>
	<nav>
		<ul id="menu">
			#if($firstName)
				<li><a href="$WebPath.getPROFILE()"">$firstName</a></li>
			#end
			#if($currentUserId)
				<li>
                    <form method="post" action="$WebPath.getSIGNOUT()">
                        <button id="signout" onclick="signOut();">sign out</button>
                    </form>
     		#else
     			<li><a href="$WebPath.getSIGNIN()"">sign in</a></li>	
			#end
			<li><a href="$WebPath.getSIGNUP()"">sign up</a></li>
		</ul>
	</nav>
</header>
<main>
	<div id="content">
        $bodyContent
    </div>
</main>
<footer>
</footer>
<script type"text/javascript" src="/js/main.js?ver=6"></script>
</body>
</html>
#end