#parse("/velocity/layout.vm")
#@mainLayout()
<h1>home page</h1>
<div class="row row-3">
    
    
    <div class="container">
        <p>Stock Performance</p>
        <div id="graph">
            <!-- rechart graph -->
        </div>
    </div>
    
</div>#end